.app.dark {
  --bg-color: #2222c7;
  --inverted-bg-color: #e5e5e5;

  --primary-color: #00d700;
  --secondary-color: #05ea05;
  --inverted-primary-color: #04408c;
  --inverted-secondary-color: #076cfc;

}