.app.light {
  --bg-color: #e5e5e5;
  --inverted-bg-color: #2222c7;

  --primary-color: #04408c;
  --secondary-color: #076cfc;
  --inverted-primary-color: #00d700;
  --inverted-secondary-color: #05ea05;
}